.checkout-wrap {
    overflow: hidden !important;
    width: 100%;
    height: 100%;
  }
  
  .checkout-div {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 500;
    background: #1d1d1b;
    opacity: 0.75;
  }
  
  .form-div-thank-you {
    position: fixed;
    top: 10%;
    left: 25%;
    background: white !important;
    z-index: 550;
    opacity: 1;
    height: 400px;
    width: 700px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  
    @media screen and(max-width:1660px) {
      height: 350px;
      width: 650px;
    }
    @media screen and(max-width:1300px) {
      left: 20%;
      top: 5%;
      height: 300px;
    width: 550px;
    }
    @media screen and(max-width:900px) {
      left: 15%;
      top: 5%;
      height: 280px;
    width: 450px;
    }
    @media screen and(max-width:600px) {
      left: 15%;
      top: 5%;
      height: 220px;
    width: 350px;
    }
    @media screen and(max-width:500px) {
      left: 10%;
    }
    @media screen and(max-width:425px) {
      top: 5%;
      left: 0;
      height: 100%;
      width: 100%;
      border-radius: 20px 20px 0px 0px;
      justify-content: center;
    }
    
    
  
    .thank-you-div {
      margin: 30px 50px;
      padding: 20px;
      display: flex;
      flex-direction: column;
  
      @media screen and(max-width:600px) {
        padding:10px;
        margin:25px 35px;
      }
      @media screen and(max-width:425px) {
        padding:10px;
        margin:25px 35px;
        height:70%;
        justify-content: center;
      }
      
      h2{
        font-weight: bold;
        font-size:55px;
        @media screen and(max-width:1660px) {
          font-size:45px;
        }
        @media screen and(max-width:1300px) {
          font-size:40px;
        }
        @media screen and(max-width:900px) {
          font-size:30px;
        }
        @media screen and(max-width:600px) {
          font-size:25px;
        }
      }
      p{
        font-size: 28px;
        @media screen and(max-width:1660px) {
          font-size:25px;
        }
        @media screen and(max-width:1300px) {
          font-size:20px;
        }
        @media screen and(max-width:900px) {
          font-size:18px;
        }
        @media screen and(max-width:600px) {
          font-size:16px;
        }
      }
      button{
        background: #FFC80C;
        border: 0px;
        border-radius: 8px;
        height:60px;
        width:50%;
        margin-top:20px;
        font-weight: bold;
        font-size:25px;
        @media screen and(max-width:1660px) {
          font-size:22px;
        }
        @media screen and(max-width:1300px) {
          font-size:20px;
        }
        @media screen and(max-width:900px) {
          font-size:17px;
        }
        @media screen and(max-width:600px) {
          font-size:15px;
          margin-top:10px;
        }
        @media screen and(max-width:425px) {
          position: absolute;
          bottom:15%;
          left:25%;
        }
      }
    }
  }
  .form-div {
    position: fixed;
    top: 2%;
    left: 35%;
    background: white !important;
    z-index: 550;
    opacity: 1;
  
    @media screen and(max-width:1920px) {
    }
    @media screen and(max-width:1300px) {
    }
    @media screen and(max-width:1000px) {
      left: 25%;
    }
    @media screen and(max-width:750px) {
      left: 15%;
    }
    @media screen and(max-width:650px) {
      left: 10%;
    }
    
    @media screen and(max-width:500px) {
      left: 2%;
    }
    @media screen and(max-width:425px) {
      top: 5%;
      left: 0;
      height: 100%;
      width: 100%;
      border-radius: 20px 20px 0px 0px;
    }
    .form {
      border-radius: 20px;
      margin: 10px;
      padding: 30px;
      height: 1200px;
      width: 850px;
      background: white !important;
      position: absolute;
      left: 0;
      display: flex;
      flex-direction: column;
  
      @media screen and(max-width:1920px) {
        height: 850px;
        width: 600px;
      }
      @media screen and(max-width:1660px) {
        height: 800px;
        width: 450px;
      }
      @media screen and(max-width:650px) {
        width: 430px;
      }
      @media screen and(max-width:550px) {
        width: 400px;
      }
  
      @media screen and(max-width:425px) {
        height: 100%;
        width: 100%;
        margin: 5px;
        padding: 20px;
        border-radius: 20px 20px 0px 0px;
      }
  
      .errors-span {
        color: #ff392e;
        font-size: 15px;
        font-weight: 700;
  
        @media screen and(max-width:1920px) {
          font-size: 13px;
          margin: 8px 0px;
        }
      }
  
      label {
        font-size: 24px;
        font-weight: 700;
        color: #1d1d1b;
        margin: 10px 0px;
  
        @media screen and(max-width:1920px) {
          font-size: 16px;
          margin: 8px 0px;
        }
        @media screen and(max-width:1660px) {
          font-size: 12px;
          margin: 6px 0px;
        }
        @media screen and(max-width:660px) {
          font-size: 11px;
          margin: 4px 0px;
        }
      }
  
      input {
        font-size: 24px;
        font-weight: bold;
        color: #7f7f7f;
        @media screen and(max-width:1920px) {
          font-size: 16px !important;
        }
        @media screen and(max-width:1660px) {
          font-size: 14px !important;
        }
        @media screen and(max-width:660px) {
          font-size: 12px;
          margin: 4px 0px;
        }
      }
  
      .datepicker {
        font-size: 25px !important;
        width: 100%;
        border: 0px;
        border-bottom: 2px solid #0097cc;
        @media screen and(max-width:1920px) {
          font-size: 16px !important;
        }
        @media screen and(max-width:767px) {
          font-size: 14px !important;
        }
      }
      .datepicker-fail {
        font-size: 25px !important;
        border: 0px;
        width: 100%;
        border-bottom: 2px solid #ff392e;
        @media screen and(max-width:1920px) {
          font-size: 16px !important;
        }
        @media screen and(max-width:767px) {
          font-size: 14px !important;
        }
      }
  
      .title-desc {
        font-size: 35px !important;
        color: #7f7f7f;
        @media screen and(max-width:1920px) {
          font-size: 25px !important;
        }
        @media screen and(max-width:1660px) {
          font-size: 22px !important;
        }
        @media screen and(max-width:767px) {
          font-size: 18px !important;
        }
  
        .title-close {
          display: flex;
          justify-content: space-between;
  
          h1 {
            color: #000000;
            font-weight: bold;
            font-size: 60px !important;
            @media screen and(max-width:1920px) {
              font-size: 40px !important;
            }
            @media screen and(max-width:1660px) {
              font-size: 35px !important;
            }
            @media screen and(max-width:767px) {
              font-size: 30px !important;
            }
          }
  
          .closeIcon {
            color: #000000;
            font-size: 50px !important;
            @media screen and(max-width:1920px) {
              font-size: 35px !important;
            }
            @media screen and(max-width:767px) {
              font-size: 30px !important;
            }
          }
        }
      }
  
      .input-div {
        margin: 10px 10px;
        @media screen and(max-width:1660px) {
          margin: 5px 5px;
        }
        @media screen and(max-width:767px) {
          margin: 5px 5px;
        }
        @media screen and(max-width:550px) {
          margin: 3px 5px;
        }
  
        .input {
          width: 100%;
          margin-top: 1px;
          border: 0px;
          border-bottom: 2px solid #0097cc;
        }
        .input-fail {
          width: 100%;
          margin-top: 1px;
          border: 0px;
          border-bottom: 2px solid #ff392e;
        }
  
        .label {
          display: flex;
          justify-content: space-between;
          height: fit-content;
          align-items: center;
        }
      }
  
      .date-gender-label {
        display: flex;
        justify-content: space-between;
        margin: 3px 20px;
      }
      .date-gender {
        display: flex;
        margin: 5px 20px;
        justify-content: space-between;
        @media screen and(max-width:1660px) {
          flex-direction: column;
        }
        .date-gender-inside-div {
          width: 100%;
          flex: 0.45;
          display: flex;
          flex-direction: column;
  
          select {
            border: 0px;
            border-bottom: 2px solid #0097cc;
            padding-bottom: 12px;
            font-size: 26px;
            @media screen and(max-width:1920px) {
              font-size: 18px !important;
              padding-bottom: 5px;
            }
            @media screen and(max-width:1660px) {
              font-size: 16px !important;
              padding-bottom: 7px;
            }
          }
        }
      }
  
      .agree-label {
        margin: 10px;
        font-size: 25px;
        display: flex;
        align-items: center;
  
        @media screen and(max-width:1920px) {
          font-size: 18px !important;
        }
        @media screen and(max-width:1660px) {
          font-size: 16px !important;
        }
        & input {
          width: 35px;
          height: 35px;
          margin-left: 5px;
          @media screen and(max-width:1920px) {
            height: 25px;
            width: 25px;
          }
          @media screen and(max-width:1660px) {
            height: 20px;
            width: 20px;
          }
        }
      }
  
      .submit-btn {
        background: #ffce25;
        height: 60px;
        border: 0px;
        border-radius: 8px;
        width: 30%;
        font-size: 25px;
        font-weight: 600;
        margin-left: 20px;
        @media screen and(max-width:1920px) {
          font-size: 18px !important;
        }
        @media screen and(max-width:1660px) {
          font-size: 17px !important;
          height: 55px;
        }
      }
  
    }
    
  }
  